
    <!-- chart -->
    <div class="wg-box">
        <div class="flex items-center justify-between">
            <h5>Thống kê</h5>
            <div class="dropdown default">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    
                </button>
            </div>
        </div>
        <div>
            <canvas id="myChart"></canvas>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>   
<script>
    const ctx = document.getElementById('myChart');
    const data = {
        labels: label,
        datasets: [{
            label: 'Doanh thu',
            data: [12, 19, 3, 5, 2, 3],
            borderWidth: 1
        }]
    };
    const config = {
        type: 'line',
        data: data,
        options: {
        }
    };
    const myChart = new Chart(
        document.getElementById('myChart',
            config
    );
    
   
</script>