
@{
    Layout = null;
}
<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<!--<![endif]-->
<!-- Mirrored from themesflat.co/html/remos/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 28 Mar 2024 15:01:23 GMT -->
<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>Fashion|Xu hướng thời trang</title>

    <meta name="author" content="themesflat.com">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/animation.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">



    <!-- Font -->
    <link rel="stylesheet" href="~/assets/font/fonts.css">

    <!-- Icon -->
    <link rel="stylesheet" href="~/assets/icon/style.css">

    <!-- Favicon and Touch Icons  -->
    <link rel="shortcut icon" href="~/assets/images/logo/logo.jpg">
    <link rel="apple-touch-icon-precomposed" href="~/assets/images/logo/logo.jpg">

</head>
<body class="body">

    <!-- #wrapper -->
    <div id="wrapper">
        <!-- #page -->
        <div id="page" class="">
            <div class="wrap-login-page sign-up">
                <div class="flex-grow flex flex-column justify-center gap30">
                    <a href="index.html" id="site-logo-inner">

                    </a>
                    <div class="login-box">
                        <div>
                            <h3>Tạo tài khoản mới</h3>
                            <div class="body-text">Nhập thông tin chi tiết của bạn để tạo tài khoản</div>
                            @{
                                if (ViewBag.errorpassword != null)
                                {
                                    <div class="body-text" style="color:red;">@ViewBag.errorpassword</div>
                                }

                            }

                        </div>
                        <form action="/Page/Register" method="post" class="form-login flex flex-column gap24">
                            <fieldset class="name">
                                <div class="body-title mb-10">Họ và tên<span class="tf-color-1">*</span></div>
                                <div class="flex gap10">
                                    <input class="flex-grow" type="text" placeholder="First name" name="firstname" tabindex="0" value="" aria-required="true" required="">
                                    <input class="flex-grow" type="text" placeholder="Last name" name="lastname" tabindex="0" value="" aria-required="true" required="">
                                </div>
                            </fieldset>
                            <fieldset class="email">
                                <div class="body-title mb-10">Email <span class="tf-color-1">*</span></div>
                                <input class="flex-grow" type="email" placeholder="Enter your email address" name="email" tabindex="0" value="" aria-required="true" required="">
                            </fieldset>
                            <fieldset class="password">
                                <div class="body-title mb-10">Password <span class="tf-color-1">*</span></div>
                                <input class="password-input" type="password" placeholder="Nhập password của bạn" name="password" tabindex="0" value="" aria-required="true" required="">
                                <span class="show-pass">
                                    <i class="icon-eye view"></i>
                                    <i class="icon-eye-off hide"></i>
                                </span>
                            </fieldset>
                            <fieldset class="password">
                                <div class="body-title mb-10">Xác nhận password <span class="tf-color-1">*</span></div>
                                <input class="password-input" type="password" placeholder="Nhập password của bạn" name="confirmpassword" tabindex="0" value="" aria-required="true" required="">
                                <span class="show-pass">
                                    <i class="icon-eye view"></i>
                                    <i class="icon-eye-off hide"></i>
                                </span>
                            </fieldset>
                            <fieldset class="mb-24">
                                <div class="body-title mb-10">Gender</div>
                                <div class="radio-buttons">
                                    <div class="item">
                                        <input class="" type="radio" name="Gender" value="Nam" id="add-product1" checked>
                                        <label class="" for="add-product1"><span class="body-title-2">Nam</span></label>
                                    </div>
                                    <div class="item">
                                        <input class="" type="radio" name="Gender" value="Nữ" id="add-product2">
                                        <label class="" for="add-product2"><span class="body-title-2">Nữ</span></label>
                                    </div>
                                </div>
                            </fieldset>
                            <button  class="tf-button w-full">Đăng ký</button>
                        </form>
                        
                        <div class="body-text text-center">
                            Nếu bạn đã có tài khoản
                            <a href="/Page/Login" class="body-text tf-color">Đăng nhập ngay </a>
                        </div>
                    </div>
                </div>
                <div class="text-tiny">Copyright © 2024 Fashion, All rights reserved.</div>
            </div>
        </div>
        <!-- /#page -->
    </div>
    <!-- /#wrapper -->
    <!-- Javascript -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-select.min.js"></script>
    <script src="js/main.js"></script>

</body>


<!-- Mirrored from themesflat.co/html/remos/sign-up.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 28 Mar 2024 15:01:23 GMT -->
</html>